.eaemrte-highlight-yellow {
  background-color: #fff3cd;
}

.eaemrte-highlight-green {
  background-color: #d1f2eb;
}

.eaemrte-highlight-blue {
  background-color: #d1ecf1;
}

.eaemrte-highlight-pink {
  background-color: #f8d7da;
}

.eaemrte-highlight-purple {
  background-color: #e7d6f5;
}

